@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #ecd610;
  width: fit-content;
  position: relative;
}
.active::after{
  content: '';
  width: 35%;
  position: absolute;
  height: 4px;
  border-radius: 4px;
  background: #ecd610;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}